{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'mystyles.css' %}">
</head>
<body>
    <div class="topnav">
        <a href="{% url 'index' %}"> bosh sahifaga qaytish </a><br>
        <a href="{% url 'set_create' %}">create new set</a>

    </div>
    {% block content %}

    {% endblock %}
    <hr>
 <br>
    <a href="{% url 'set_create' %}">create new set</a>
<br>
    <a href="{% url 'testing' %}">test sahifasi</a>

</body>
</html>